body {
    font-family: bookman, sans-serif;
    padding: 0%;
    margin: 0%;
}

#main {
    margin: 0%;
}

#banner {
    background-color: lightgrey;
    width: 20%;
    /* height: 2em; */
    /* height: 10%; */
    /* position: absolute; */
    /* top: 90%; */
    /* left: 35%; */
    padding: .5em 40%;
    margin: 0%;
    /* box-align: center; */
    /* z-index: 2; */
}

#large-image {
    margin: -.25em 0em 0em 0em;
    /* background-color: gray; */
    background-position-y: center;
    height: 50vh;
    background-image: url("images/people\ drinking\ coca\ cola.jpeg");
    background-size: cover;
    /* position: absolute; */
    width: 100%;
}

.info {
    padding: .5em 2em;
}

.full-width {
    display: block;
    position: relative;
}